# Created by .ignore support plugin (hsz.mobi)

# Operating System Files 

*.DS_Store 
Thumbs.db 
*.sw? 
.#* 
*# 
*~ 
*.sublime-* 


# Compiled class file
*.class

# Log file
*.log

# Build Artifacts 

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml 

# Eclipse Project Files 

.classpath
.project
.settings/ 
.location
.install.xml
.lock
.syncinfo.snap
.markers.snap
.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.class

# IntelliJ IDEA Files 

*.iml
*.ipr 
*.iws 
*.idea 
/.springBeans
/LOG_PATH_IS_UNDEFINED/
/.factorypath
/room/
